<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>字典表管理</title>
    <script th:src="@{/plugins/jquery/jquery-1.10.1.js}"></script>
	<script th:src="@{/js/management/dicManage/index.js}"></script>
	<link rel="stylesheet" th:href="@{/css/management/dicManage/index.css}">
</head>
<body>
	  <div id="head_commen"></div>
      <div id="aside">
      	 <ul>
      	 </ul>
      </div>
      <div id="table">
      	    
      </div>
</body>
</html>