.datagrid-header-row,
.datagrid-row {
  height: 36px !important;
}


 /*.datagrid-header-row td{background-color:#36C0DA;color:#fff}*/

/* .panel-header{
 	 background:white;
 	
 }*/

/* .panel-header, .panel-body {
 	  border-color:#ddd;
 }*/