<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyhead_commenmeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>視頻管理</title>
    <script th:src="@{/plugins/jquery/jquery-1.10.1.js}"></script>
	<script th:src="@{/js/management/video/index.js}"></script>
	<link rel="stylesheet" th:href="@{/css/management/video/index.css}">
</head>
<body>
	  <div class="head_common"></div>
      <div id="aside" class="aside">
      	 <ul>
      	 </ul>
      </div>
      <div id="pageContent" class="pageContent">
      	    
      </div>
</body>
</html>