<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>视频墙</title>
	<script th:src="@{/plugins/jquery/jquery-1.10.1.js}"></script>
	<script th:src="@{/js/video/videoWall/videoWall.js}"></script>
	<link rel="stylesheet" th:href="@{/css/video/videoWall/videoWall.css}">
	<link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
</head>
<body>
	     <p id="breadcrumb" class="breadcrumb"></p>
		 <span id="search" class="search"><input id="videoSearch" type="text"><i class="fa fa-search"></i></span>
	 	  <!--<p id="screen" class="screen">
	 	  	<span>最近播放</span>  |
	 	  	<span>上架日期</span>  |
	 	  	<span>热门程度</span>  |
	 	  	<span>更新时间</span>  |
	 	  	<span>BT上架序</span>  |
	 	  	<span>BT发布序</span>  |
	 	  	<span>AV资讯</span>
	 	  </p>-->

	 	 <p id="total" class="total"></p>
	 	 <div id="page" class="page">
			 <span id="previous" class="pagePlugins" style="display:none">上一页</span>
		     <span><input type="text" id="num"> / <span id="pageTotal"></span> 页</span>
		     <span id="next" class="pagePlugins" style="display:none">下一页</span>
	     </div>
	     <section id="movieWall" class="movieWall">

	     </section>
</body>
</html>