<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.index.video.mapper.VideoMapper">
    <resultMap id="BaseResultMap" type="com.index.video.model.Video">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="vgid" jdbcType="VARCHAR" property="vgid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="videoStatus" jdbcType="INTEGER" property="videoStatus"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime"/>
        <result column="uploadBy" jdbcType="VARCHAR" property="uploadby"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updateBy" jdbcType="VARCHAR" property="updateby"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.index.video.model.Video">
        <result column="url" jdbcType="LONGVARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, vgid, name, videoStatus, sort, uploadTime, uploadBy, updateTime, updateBy
  </sql>
    <sql id="Blob_Column_List">
    url
  </sql>
    <select id="selectByVgid" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from video
        where vgid = #{vgid,jdbcType=VARCHAR}
        order by sort
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from video
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.index.video.model.Video">
    insert into video (id, vgid, name, videoStatus,
      sort, uploadTime, uploadBy, 
      updateTime, updateBy, url
      )
    values (#{id,jdbcType=VARCHAR}, #{vgid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{videoStatus,jdbcType=INTEGER},
      #{sort,jdbcType=INTEGER}, #{uploadtime,jdbcType=TIMESTAMP}, #{uploadby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{url,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.index.video.model.Video">
        insert into video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="vgid != null">
                vgid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="videoStatus != null">
                videoStatus,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="uploadtime != null">
                uploadTime,
            </if>
            <if test="uploadby != null">
                uploadBy,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="updateby != null">
                updateBy,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="vgid != null">
                #{vgid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="videoStatus != null">
                #{videoStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="uploadtime != null">
                #{uploadtime,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadby != null">
                #{uploadby,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateby != null">
                #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.index.video.model.Video">
        update video
        <set>
            <if test="vgid != null">
                vgid = #{vgid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="videoStatus != null">
                videoStatus = #{videoStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="uploadtime != null">
                uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadby != null">
                uploadBy = #{uploadby,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateby != null">
                updateBy = #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.index.video.model.Video">
    update video
    set vgid = #{vgid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      videoStatus = #{videoStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      uploadBy = #{uploadby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR},
      url = #{url,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.index.video.model.Video">
    update video
    set vgid = #{vgid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      videoStatus = #{videoStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      uploadBy = #{uploadby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateVideoStatus" parameterType="com.index.video.model.Video">
    update video
    set videoStatus = #{videoStatus,jdbcType=INTEGER}
    where url = #{url,jdbcType=VARCHAR}
  </update>
</mapper>