<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>夜色视频站</title>
    <script th:src="@{/plugins/jquery/jquery-1.10.1.js}"></script>
    <script th:src="@{/js/video/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/video/index.css}">
</head>
<body>
<div class="bar">
    <ul id="videoHead" class="header"></ul>
</div>
<div id="videoContent" class="videoContent"></div>
<div id="trailerContent" class="trailerContent"></div>
<p style="clear: both"></p>
</body>
</html>