* {
    padding: 0;
    margin: 0;
}

.trailer {
    padding-left: 26px;
    background-image: linear-gradient(to right, #FFCFA2 0%, #FDFBF6 5%, #FDFBF6 98%, #FFCFA2 100%);
}

.trailer ul {
    height: 56vh;
    overflow-y: auto;
}

.trailer > p {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 0px;
}

.trailer ul li {
    list-style-type: none;
    position: relative;
    margin-bottom: 2px;
    width: 95%;
    padding: 2px;
}

.trailer ul li:hover {
    border: 1px solid #ecc237;
    border-radius: 15px;
}

.trailer ul li img {
    width: 90px;
    height: 85px;
    border-radius: 15px;
}

.trailer ul li div {
    position: absolute;
    left: 120px;
    top: 10px;
}

.labels {
    margin-top: 20px;
}

.labels p {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.labels ul li {
    display: inline-block;
    min-width: 70px;
    line-height: 20px;
    text-align: center;
    color: #666;
    cursor: pointer;
    margin-left: 13px;
    margin-bottom: 5px;
}

.labels ul li:hover {
    background: #387ef5;
    border-color: #387ef5;
    color: white;

}