<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.index.management.mapper.DicSexMapper">
    <resultMap id="BaseResultMap" type="com.index.management.model.DicSex">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="isUsing" jdbcType="INTEGER" property="isusing"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.index.management.model.DicSex">
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sex, name, isUsing, sort
  </sql>
    <sql id="Blob_Column_List">
    remark
  </sql>
    <select id="selectBySexKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dic_sex
        where sex = #{sex,jdbcType=VARCHAR}
        order by sort
    </select>
    <select id="selectAll" resultMap="ResultMapWithBLOBs">select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dic_sex
        where isUsing = 1
        order by sort
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dic_sex
        where name like "%"#{name,jdbcType=VARCHAR}"%"
        order by sort
    </select>
    <select id="selectByIsUsing" parameterType="Integer" resultMap="ResultMapWithBLOBs">select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dic_sex
        where isusing = #{isusing,jdbcType=INTEGER}
        order by sort
    </select>

    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update dic_sex set isUsing = 0
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="insert" parameterType="com.index.management.model.DicSex">
    insert into dic_sex (id, sex, name, 
      isUsing, sort, remark)
    values (#{id,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{isusing,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.index.management.model.DicSex">
        insert into dic_sex
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isusing != null">
                isUsing,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isusing != null">
                #{isusing,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.index.management.model.DicSex">
        update dic_sex
        <set>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isusing != null">
                isUsing = #{isusing,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.index.management.model.DicSex">
    update dic_sex
    set sex = #{sex,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      isUsing = #{isusing,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>