<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新片速达</title>
    <script th:src="@{/plugins/jquery/jquery-1.10.1.js}"></script>
    <script th:src="@{/js/video/trailer/trailer.js}"></script>
    <link rel="stylesheet" th:href="@{/css/video/trailer/trailer.css}">
</head>
<body>
<div class="sidebar">
    <div id="trailer" class="trailer">
        <p>新片速达</p>
        <ul class="flow-default">

        </ul>
    </div>
    <div id="labels" class="labels">
        <p>热门标签</p>
        <ul>

        </ul>
    </div>
</div>
</body>
</html>
	 	