*{
	margin:0;
	padding:0;
}
.head_common{
	 height:4vh;
	 box-sizing:border-box;
	 overflow-y: hidden;
}
div.aside{
	 width:6.5vw;
	 overflow-x:hidden;
	 float:left;
	 border-right:1px solid #ddd;
}
div.aside ul{
	 overflow-x:hidden;
	 overflow-y:auto;
	 width:8vw;
	 height:96vh;
	 box-sizing:border-box;
	 border-top:1px solid #ddd;
}

div.aside ul li{
	 list-style-type:none;
	 height:40px;
	 width:6vw;
	 line-height:40px;
	 text-align: center;
	 cursor:pointer;
	 border-left:4px solid #fff;
	 

}

.active_bar{
	color:#f76c03;
	border-left:4px solid #f76c03 !important;
	
}

.pageContent{
	 width:90vw;
	 float:right;
	 margin-right:2vw;
}
